{% extends 'base.html.twig' %}

{% block title %}Hello ChartController!{% endblock %}

{% block body %}
    <div style="height: 300px;" class="mt-5">
        {{ render_chart(chart) }}
    </div>
{% endblock %}
